#main-form {
    width: 460px;
    border: 1px solid orange;
    align-self: center;
    justify-self: center;
    padding: 16px 40px;
    color: orange;
    display: none;
}

#submit {
    border-radius: 20px;
    /* background-color: rgb(65, 62, 62); */
    background: radial-gradient(circle, rgba(62, 106, 191, 0.9556197478991597) 34%, rgba(230, 231, 242, 0.33657212885154064) 94%);
    color: white;
    padding: 10px 50px;
    font-size: 21px;
}

input {
    min-height: 30px;
    float: right;
    min-width: 250px;
    padding-left: 10px;

}

label {
    margin: 0 auto;
    display: inline-block;
    width: 90px;
    text-align: right;
    color: white;
}
